GRUPO=/home/desuque/Documentos/planauto-master=desuque=sáb abr 16 22:14:57 ART 2016
BINDIR=/home/desuque/Documentos/planauto-master/binarios=desuque=sáb abr 16 22:14:57 ART 2016
MAEDIR=/home/desuque/Documentos/planauto-master/maestros=desuque=sáb abr 16 22:14:57 ART 2016
ARRIDIR=/home/desuque/Documentos/planauto-master/arribados=desuque=sáb abr 16 22:14:57 ART 2016
OKDIR=/home/desuque/Documentos/planauto-master/aceptados=desuque=sáb abr 16 22:14:57 ART 2016
PROCDIR=/home/desuque/Documentos/planauto-master/procesados=desuque=sáb abr 16 22:14:57 ART 2016
INFODIR=/home/desuque/Documentos/planauto-master/informes=desuque=sáb abr 16 22:14:57 ART 2016
LOGDIR=/home/desuque/Documentos/planauto-master/bitacoras=desuque=sáb abr 16 22:14:57 ART 2016
NOKDIR=/home/desuque/Documentos/planauto-master/rechazados=desuque=sáb abr 16 22:14:57 ART 2016
LOGSIZE=10=desuque=sáb abr 16 22:14:57 ART 2016
SLEEPTIME=1=desuque=sáb abr 16 22:14:57 ART 2016
BINFILES=DetenerProceso.sh,GrabarBitacora.sh,LanzarProceso.sh,MoverArchivos.sh,PrepararAmbiente.sh,RecibirOfertas.sh,GenerarSorteo.sh,ProcesarOfertas.sh,DeterminarGanadores.pl=desuque=sáb abr 16 22:14:57 ART 2016
MAEFILES=concesionarios.csv,FechasAdj.csv,grupos.csv,temaL_padron.csv=desuque=sáb abr 16 22:14:57 ART 2016
BACKUPDIR=/home/desuque/Documentos/planauto-master/resguardo=desuque=sáb abr 16 22:14:57 ART 2016
