GRUPO=/home/f/tpsisop/planauto=f=vie abr 8 12:23:55 ART 2016
BINDIR=/home/f/tpsisop/planauto/binarios=f=vie abr 8 12:23:55 ART 2016
MAEDIR=/home/f/tpsisop/planauto/maestros=f=vie abr 8 12:23:55 ART 2016
ARRDIR=/home/f/tpsisop/planauto/arribados=f=vie abr 8 12:23:55 ART 2016
OKDIR=/home/f/tpsisop/planauto/aceptados=f=vie abr 8 12:23:55 ART 2016
PROCDIR=/home/f/tpsisop/planauto/procesados=f=vie abr 8 12:23:55 ART 2016
INFODIR=/home/f/tpsisop/planauto/informes=f=vie abr 8 12:23:55 ART 2016
LOGDIR=/home/f/tpsisop/planauto/bitacoras=f=vie abr 8 12:23:55 ART 2016
NOKDIR=/home/f/tpsisop/planauto/rechazados=f=vie abr 8 12:23:55 ART 2016
LOGSIZE=10=f=vie abr 8 12:23:55 ART 2016
SLEEPTIME=1=f=vie abr 8 12:23:55 ART 2016
BINFILES=DetenerProceso.sh,GrabarBitacora.sh,LanzarProceso.sh,MoverArchivos.sh,PrepararAmbiente.sh,RecibirOfertas.sh,GenerarSorteo.sh,ProcesarOfertas.sh,DeterminarGanadores.pl=f=vie abr 8 12:23:55 ART 2016
MAEFILES=concesionarios.csv,FechasAdj.csv,grupos.csv,temaL_padron.csv=f=vie abr 8 12:23:55 ART 2016
